Header {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    padding: 25px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: left; 
}

h2 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: right;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 25px;
}

ul li {
    list-style-type: none;
    margin-top: 1rem;
    padding-right: 30rem;
}


img {
    align-content: center;
    display: block; 
    padding-right: 25px;
    padding: 25px;
}

a {
    text-decoration: none; 
    background-color: none; 
    color: black;
}

p {
    margin-left: 25px;
}

footer { 
    background-color:lightgray;
    padding: 1.5rem 0;
}

footer p {
    margin-bottom: 0;
}

@media only screen and (max-width: 500px) {

.imagegrid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

} 