Header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 3rem;
    padding: 25px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: left; 
}

h2 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: right;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 25px;
    margin-bottom: 1rem;
}

ul li {
    list-style-type: none;
    margin-top: 1rem;
    padding-right: 30rem;
}


img {
    align-content: center;
    display: block; 
    padding-right: 25px;
    padding: 25px;
    max-width: 100%;
}

a {
    text-decoration: none; 
    background-color: none; 
    color: black;
}

p {
    margin-left: 25px;
    font-size: 16px;
    margin-right: 25px;
}

footer { 
    background-color:lightgray;
    padding: 1.5rem 0;
    margin-top: 1rem;
}

footer p {
    margin-bottom: 0;
}

.vid {
    margin-left: 23px;
    margin-bottom: 2.5rem;
    margin-right: 10rem;
}

@media only screen and (max-width: 500px) {

.imagegrid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

} 

@media screen and (min-width: 768px) {
    .imagegrid1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
        
    }

    h3 {
        font-size: 20px;
    }

}

@media screen and (min-width: 1400px) {
    .imagegrid1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    h1 {
        font-size: 35px;  
    }
    
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;  
    }
    .cloumn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }

    .finalsgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }
}