Header {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    padding: 25px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: left; 
}

h2 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: right;
}

ul li {
    list-style-type: none;
    margin-top: 1rem;
    padding-right: 30rem;
}

.intro {
    padding: 25px;
    align-items: center;
}

img {
    align-content: center;
    display: block; 
    padding-right: 30px;
}

