html {
    --black: #000;
    --orange: #FF5500;
    --white: #fff;
}

body {
    font-family: Open Sans, sans-serif;
}

header {
    background-size: cover;
    background-color: #fff;
    height: 10vw;
    text-align: left;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 22pt;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 22pt;
}

.coffee-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 232px;
    width: 348px;
}

.maps {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 232px;
    width: 348px;
}

table {
    background: white;
    width: 100%;
  }
  
  th {
    padding: 1rem;
    text-align: left;
  }
  
  td {
    padding: 1rem;
  }
  
  .price {
    font-weight: bold;
  }

  
