html {
    --black: #000;
    --orange: #FF5500;
    --white: #fff;
}

body {
    font-family: Open Sans, sans-serif;
}

header {
    background-size: cover;
    background-color: #fff;
    text-align: left;
    border-bottom: 7px solid var(--orange);
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: left;
}

h2 {
  border-bottom: 7px solid var(--orange);
  padding: 30px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 22pt;
  display: inline-block;
   
}

h3 {
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 22pt;   
}

h4 {
  padding: 0px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 22pt;
  max-width: 350px;   
}


.coffee-pic {
    display: block;
    margin-left: 36px;
    margin-right: 36px;
    padding: 30px;
    
}
.coffee-pic img{
    border: 7px solid var(--orange);
    width: 100%;
    padding-bottom: 0px;
}

.maps {
    display: block;
    margin-left: 36px;
    margin-right: 36px;
    padding: 30px;
}

.maps img {
    border: 7px solid var(--orange);
    width: 100%;
    padding: 0px;
}

table {
    background: white;
    width: 100%;
  }
  
  th {
    padding: 1rem;
    text-align: left;
  }
  
  td {
    padding: 1rem;
  }
  
  .price {
    font-weight: bold;
  }

  p {
    margin-left: 22pt; 
  }
  
  .footer {
    border-top: 7px solid var(--orange);
  }

  th:first-child {
    width: 49%
  }

  .fa-twitter {
    color: #FF5500;
    font-size: 25px;
  }
  
  .fa-instagram {
    font-size: 25px;
    color: #FF5500;
  }

  .fa-facebook {
    font-size: 25px;
    color: #FF5500;
  }

  ul {
    margin-left: auto;
  }
  ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1rem;
  
}

.links {
  display: flex;
  font-size: 20px;
}

.drinks {
  margin-left: auto;
}

.links li {
  padding: 1rem;
}


@media screen and (max-width:768px) {
  .links {
    display:none
  }
}

.heder {
  display: flex;
}



  @media screen and (min-width: 768px) {
    header {
      background-size: cover;
      background-color: #fff;
      text-align: left;
      border-bottom: 7px solid var(--orange);
      width: 100%;
      padding: 20px;
  }
  
  h1 {
      font-size: 40px;
      font-weight: 800;
      letter-spacing: 1px;
      text-align: center;
  }

  h2 {
    border-bottom: 7px solid var(--orange);
    padding: 30px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 22pt;
    display: inline-block;
     
  }

  h4 {
    padding: 0px;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 22pt;
    max-width: 550px;   
  }

  th {
    padding: 1rem;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  td {
    padding: 1rem;
    font-size: 18px;
    font-weight: 200;
  }

  .map-info {
    display: flex;
  }

  .topper {
    display: flex;
  }
  .drinks {
    display: flex;
  }
  .food-two {
    display: flex;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1rem;
}

.heder {
  display: flex;
}

  }

  @media screen and (min-width: 1400px) {
    header {
      background-size: cover;
      background-color: #fff;
      text-align: left;
      border-bottom: 7px solid var(--orange);
      width: 100%;
      padding: 20px;
  }
  
  h1 {
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 1px;
      text-align: center;
  }

  h2 {
    border-bottom: 7px solid var(--orange);
    padding: 30px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 22pt;
    display: inline-block;
     
  }

  h4 {
    padding: 0px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 22pt;
    max-width: 550px;   
  }

  th {
    padding: 1rem;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
  }

  td {
    padding: 1rem;
    font-size: 20px;
    font-weight: 200;
  }

  .map-info {
    display: flex;
  }

  .topper {
    display: flex;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1rem;
}

.heder {
  display: flex;
}
  }